:root {
    --niveau-1: 20px;
    --niveau-2: 40px;
    --niveau-3: 60px;
    --niveau-4: 80px;
    --niveau-5: 100px;

    --niveau-1-color: red;
    --niveau-2-color: orange;
    --niveau-3-color: yellow;
    --niveau-4-color: rgb(152, 233, 152);
    --niveau-5-color: green;
  }
  
*{
    font-family: Arial, Helvetica, sans-serif;
    color: #021c3f;
}

html, body{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    position:absolute;
    bottom: 0;
  }
  
  .content {
    display: inline-block;
    /* Add your desired content width here */
  }

  .Content-Wrapper{
    display: flex;
    flex-direction: row;
  }

header{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #021c3f;
    box-shadow: 0px 5px 5px grey;
    padding:  0 5vw  0 5vw;
    position: fixed;
    width: 90vw;
    color:#00eaff;
}

header *, header > div > a{
    color:#00eaff;
}

#links{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#Profil, #Education, #Work, #ContactMe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84vh;
    padding:1vh 2% 5vh 2% ;
    width: 100vw;
}

#ContactMe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ContactMe > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 5px 25px rgba(0, 0, 0, 0.4);
    transform: perspective(850px) rotateX(10deg) rotateY(-10deg);
    margin-left: -15vh;
}

#Contact-Wrapper{
    background: #021c3f;
    height: 60vh;
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  #Contact-Wrapper label, #Contact-Wrapper i, #Contact-Wrapper h2{
    color: #00eaff;
  }

.ContactList{
    background-color: aliceblue;
    display: flex;
    height: auto;
    height: 40vh;
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10vh 0 10vh 0;
}

.ContactList a:visited{
    color: #021c3f;
}

input, textarea {
    padding:3px;
    border:1px solid #fff;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

button{
    padding:3px;
    border:1px solid #fff;
    border-radius:5px;
    background-color: #fff;
}

button:hover,input:focus, textarea:focus {
    border-color: #000;
    outline: none;
}

#ContaxtForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    margin: 5px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

fieldset{
    border: none;
   border-left: solid 5px;
   border-top: solid 1px;
}

.info, .skills, .Langues, .softwares, .hobbies, .quality{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 50px 1vh 50px ;
    align-items: center;
}

legend{
    font-size: large;
    font-weight: bold;
}

fieldset > div{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
}

fieldset > div > div{
    margin-left: 2%;
}

.quality, .hobbies{
    width: 40%;
}

.Langues{
    width: 58%;
    padding: 10px;
}

.softwares{
    width: 35%;
    padding: 10px;
}

.progressBar-Wrapper{
    width: 100px;
    height: 10px;
    border-radius: 15px;
    border: solid 1px black;
}

.progressBar-lvl1{
    width:  var(--niveau-1);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-1-color);
}
.progressBar-lvl2{
    width:  var(--niveau-2);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-2-color);
}
.progressBar-lvl3{
    width:  var(--niveau-3);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-3-color);
}
.progressBar-lvl4{
    width:  var(--niveau-4);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-4-color);
}
.progressBar-lvl5{
    width:  var(--niveau-5);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-5-color);
}

#LeftButton, #RightButton{
    position: fixed;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    backdrop-filter: blur(10px);
    border-style: solid;
}

#LeftButton{
    left: 10px;
}

#RightButton{
    right: 20px;
}

#LeftButton:hover, #RightButton:hover{
    backdrop-filter: blur(15px);
    border-color: rgb(175, 175, 175);
}

a:link,
a:visited {
  color: #00eaff; 
  text-decoration: none; 
}

a:hover, header label:hover{
    font-size: large;
}



#Metex{
    height: 30vh;
    width: 60vw;
}

#Metex > div{
    white-space: initial;
}

#CIT{
    margin-left: 5vw;
    border:none;
    border-right: solid 5px;
    border-top: solid 1px;
    width: 75vw;
}

#CIT legend{
    margin-left: 45vw;
}

#CIT > div, #Metex > div{
    display: flex;
    height: 30vh ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#CIT > div{
    width: auto;
}

.TextArea{
    display: flex;
    flex-direction: row;
}

#Metex .TextArea{
    height: 20vh;
    width: 40vw;
}

#CIT .TextArea{
    height: 25vh;
    width: 50vw;
}

.TextArea > div{
    padding-left: 15px;
}

img{
    width: 150px;
}

#Education img{
    width: 100px;
}

#Metex img{
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.TextArea-Wrapper{
    display: flex;
    flex-direction: column;
    width: 60vh;
}

#LaProBac, #LaProBts, #ESGI{
    width: 30vw;
    display: flex;
    align-items:center ;
}

#LaProBac{
    margin-left: 45vw;
}

#ESGI{
    width: 50vw;
    margin-left: 35vw;
}
