:root {
    --niveau-1: 20px;
    --niveau-2: 40px;
    --niveau-3: 60px;
    --niveau-4: 80px;
    --niveau-5: 100px;

    --niveau-1-color: red;
    --niveau-2-color: orange;
    --niveau-3-color: yellow;
    --niveau-4-color: rgb(152, 233, 152);
    --niveau-5-color: green;
  }
  
*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    position:absolute;
    bottom: 0;
  }
  
  .content {
    display: inline-block;
    /* Add your desired content width here */
  }

  .Content-Wrapper{
    display: flex;
    flex-direction: row;
  }

header{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
    box-shadow: 0px 5px 5px grey;
    padding:  0 5vw  0 5vw;
    position: fixed;
    width: 90vw;
    color: white;
}

#links{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#Profil, #Education, #Work{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84vh;
    padding:1vh 3% 5vh 3% ;
    width: 100vw;
}

h2{
    margin: 5px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

fieldset{
    border: none;
   border-left: solid 5px;
   border-top: solid 1px;
}

.info, .skills, .Langues, .softwares, .hobbies, .quality{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 50px 1vh 50px ;
    align-items: center;
}

legend{
    font-size: large;
    font-weight: bold;
}

fieldset > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
    justify-content: center;
}

fieldset > div > div{
    margin-left: 2%;
}

.quality, .hobbies{
    width: 40%;
}

.Langues{
    width: 58%;
    padding: 10px;
}

.softwares{
    width: 35%;
    padding: 10px;
}

.progressBar-Wrapper{
    width: 100px;
    height: 10px;
    border-radius: 15px;
    border: solid 1px black;
}

.progressBar-lvl1{
    width:  var(--niveau-1);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-1-color);
}
.progressBar-lvl2{
    width:  var(--niveau-2);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-2-color);
}
.progressBar-lvl3{
    width:  var(--niveau-3);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-3-color);
}
.progressBar-lvl4{
    width:  var(--niveau-4);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-4-color);
}
.progressBar-lvl5{
    width:  var(--niveau-5);
    height: 10px;
    border-radius: 15px;
    background-color: var(--niveau-5-color);
}

#LeftButton, #RightButton{
    position: fixed;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    backdrop-filter: blur(10px);
    border-style: solid;
}

#LeftButton{
    left: 10px;
}

#RightButton{
    right: 20px;
}

#LeftButton:hover, #RightButton:hover{
    backdrop-filter: blur(15px);
    border-color: rgb(175, 175, 175);
}

a:link,
a:visited {
  color: #fff; 
  text-decoration: none; 
}

a:hover{
    font-size: large;
}

#CIT, #Metex{
    width: 50vw;
    height: 30vh;
}

#CIT{
    margin-left: 30vw;
    border:none;
    border-right: solid 5px;
    border-top: solid 1px;
}

#CIT legend{
    margin-left: 45vw;
}

#CIT > div, #Metex > div{
    display: flex;
    width: auto;
    height: 30vh ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.TextArea{
    height: 20vh;
    width: 30vw;
    border-left: solid 2px;
    margin: 5vh;
    padding: 2vh 3vw 2vh 3vw;
}

img{
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#Metex img{
    border-radius: 50%;
}